Repository 2020leon/sendmail2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

build: lint with type information
  .eslintrc.json
Due: prettier

style: lint with new configuration
  src/send_to_smtp.ts
  src/smtp_client.ts
Due: eslint

build: specify typescript compiler options
  tsconfig.json
Due: prettier

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier

docs: modify changelog
  CHANGELOG.md
Due: none

0.2.1
  package.json
  src/metadata.ts
Due: eslint, prettier

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  prettier: any of: *.json
