Repository 2020leon/sendmail2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

chore: force explicit override
  src/smtp_client.ts
  tsconfig.json
Due: eslint, prettier

chore: add markdown lint
  .lintstagedrc.json
  .markdownlint.json
  package-lock.json
  package.json
Due: prettier

docs: add changelog
  CHANGELOG.md
Due: none

0.0.1
  package-lock.json
  package.json
Due: prettier

refactor: separate resued functions
  src/send_to_smtp.ts
  src/transport.ts
Due: eslint

feat: add new class to send mail
  package-lock.json
  package.json
  src/index.ts
  src/sender.ts
Due: eslint, prettier

docs: modify readme and changelog
  CHANGELOG.md
  README.md
Due: none

0.1.0
  package-lock.json
  package.json
Due: prettier

fix: fix changelog heading level
  CHANGELOG.md
Due: none

chore: specify engine version and update packages
  package-lock.json
  package.json
Due: prettier

docs: rename license file
  LICENSE
Due: none

0.1.1
  package-lock.json
  package.json
Due: prettier

fix: try lower priority host if sending fail
  src/send_to_smtp.ts
Due: eslint

docs: modify changelog
  CHANGELOG.md
Due: none

chore: update packages
  package-lock.json
  package.json
Due: prettier

0.1.2
  package-lock.json
  package.json
Due: prettier

fix: use literal name and version in metadata
  .lintstagedrc.json
  package-lock.json
  package.json
  scripts/version.sh
  src/metadata.ts
Due: eslint, prettier

fix: pass second argument to callback if success
  src/transport.ts
Due: eslint

0.1.3
  package-lock.json
  package.json
  src/metadata.ts
Due: eslint, prettier

refactor: use try/catch instead of then/catch
  src/send_to_smtp.ts
Due: eslint

build: replace eslint config
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier

build: use pnpm instead of npm
  package-lock.json
  pnpm-lock.yaml
Due: prettier

docs: correct install script
  README.md
Due: none

style: specify variable type
  src/send_to_smtp.ts
Due: eslint

fix: correct error message
  src/smtp_client.ts
Due: eslint

refactor: release resources properly
  src/send_to_smtp.ts
Due: eslint

refactor: use await syntax
  src/sender.ts
Due: eslint

build: use pnpm instead of npm
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier

build: silence pre-commit
  .husky/pre-commit
Due: none

refactor: use named export instead of default export
  scripts/version.sh
  src/metadata.ts
  src/transport.ts
Due: eslint

feat: remove default export in index.ts
  src/index.ts
Due: eslint

docs: update readme
  README.md
Due: none

0.2.0
  package.json
  src/metadata.ts
Due: eslint, prettier

refactor: use await syntax
  src/transport.ts
Due: eslint

fix: fix redundant leading space of body
  src/smtp_client.ts
Due: eslint

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  prettier: any of: *.json
